* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;


}

.btn-style {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 18px 36px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 45px;
    margin-left: 20px;
}

.subtitle {
    font-weight: 700;
    font-size: 85px;
}

.description {
    margin-bottom: 30px;
}

.main {
    max-width: 1140px;
    margin: 0 auto;
}

.heda {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.section-about {
    background: #FFF8F3;
    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about {

    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.about-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info-containar {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #474747;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #757575;
}